*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.element{
  background-color: red;
  border: 1px solid black;
  min-height: 40px;
  padding: 20px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}
.button{
  width: 30px;
  border-radius: 100%;
  cursor: pointer;
}
.input{
  margin: 20px;
}
